
* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #d9d9d9;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
    -fx-dark-blue:#005792;
}

.root{
    -fx-background-color: -fx-primary;
}

/*.glyph-icon*/
/*{*/
    /*-fx-fill: -fx-primarytext;*/
/*}*/

.defult-Button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}

.main-button{
    -fx-background-color:  -fx-dark-blue;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}

/*Text styling*/
.main-text
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 14pt;
    -fx-text-alignment: center;
}

.submission-container{
    -fx-background-color: derive(-fx-primary, 10%);
}

.main-dashboard{
    -fx-background-color: #ddd;
}

/*login*/
.wrong-credentials
{
    -jfx-unfocus-color: #ef5350;
    -jfx-focus-color: #ef5350;
}
.text-field-default
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 12pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}

.count-main:hover{
    -fx-background-color: -fx-color-1;
    -fx-border-color: derive(-fx-color-1, -20%);
    /*-fx-text-fill: white;*/
}
